<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <img src="https://www.smartasset.com.au/wp-content/uploads/2018/05/standard-activities-icon.png" min-height="48" style="margin: 10px;">
        <h1 style="font-family:Arial, Helvetica, sans-serif; color: blueviolet;">TRAVEL TRACKER</h1>
      </a>
  
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  




      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a href="/auth/signup" class="button is-light">
              Sign up
            </a>
            <a href="/auth/login"class="button is-light">
              Log in
            </a>
          </div>
        </div>
      </div>

    </div>
  </nav>
