<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="#" id="logo">
        <img src="https://www.smartasset.com.au/wp-content/uploads/2018/05/standard-activities-icon.png" min-height="48">
        <h1>TRAVEL TRACKER</h1>
      </a>
  
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  


    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a href="../activities" class="navbar-item" id="view">
          View All Activities
        </a>
  
        <a href="../activities/new" class="navbar-item" id="create">
          Create Activity
        </a>
      </div>


      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a href="/auth/logout"class="button is-light">
              Logout
            </a>
          </div>
        </div>
      </div>

    </div>
  </nav>