<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1>Edit Activity</h1>
        <form action="/activities/<%=activity.id%>?_method=PUT" method="POST">
    		<!--  NOTE: the form is pre-populated with values for the server-->
    		Name: <input type="text" name="name" value="<%=activity.name%>"/><br/>
    		Description: <input type="text" name="description" value="<%=activity.description%>"/><br/>
    		Booking Confirmed:
            <input type="checkbox" name="readyToEat"
                <% if(activity.booked === true){ %>
                    checked
                <% } %>
            />
            <br/>
            <input type="submit" name="" value="Submit Changes"/>
        </form>
    </body>
</html>