<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1>New Activity page</h1>
        <form action="/activities" method="POST">
            Name: <input type="text" name="name" /><br/>
            Description <input type="text" name="description" /><br/>
            This activity is booked: <input type="checkbox" name="booked" /><br/>
            <input type="submit" name="" value="Create Activity"/>
        </form>
    </body>
</html>