<!DOCTYPE html>
<html>
    
    <!-- THE HEAD TAG PARTIAL -->
    <%- include("../partials/head") %>
    <body>
        <%- include("../partials/loggedin-header") %>
       
            <main class="page-container"> 
                <div class="content-wrap">
        
                <h1 style="text-align: center; font-family: Arial, Helvetica, sans-serif; font-weight: bold; font-size: 36px; margin-top: 5%;">CREATE A NEW ACTIVITY</h1> <br>
                <!-- <form action="/activities" method="POST" class="box">
                    Name: <input type="text" name="name" /><br/>
                    Description <input type="text" name="description" /><br/>
                    This activity is booked: <input type="checkbox" name="booked" /><br/>
                    <input type="submit" name="" value="Create Activity"/>
                </form> -->






                <form action="/activities" method="POST" class="box">
                    <div class="field">
                      <div class="control">
                        Name: <input type="text" name="name" />
                    </div>
                    </div>
                  
                    <div class="field">
                      <div class="control">
                        Description <input type="text" name="description" /><br/>
                    </div>
                    </div>
                  
                    <input class="button" type="submit" name="" value="Create Activity"/>
                  </form>





   
</div>
    </main>
    <%- include("../partials/footer") %>
    </body>
</html>