<!DOCTYPE html>
<html>
    <%- include("../partials/head") %>


    <body>
        <%- include("../partials/loggedin-header") %>
<div class="content">
        <h1 style="text-align: center; font-family: Arial, Helvetica, sans-serif; font-weight: bold; font-size: 36px; margin-top: 5%;">Activity Information</h1>
        <h2><%= activity.name %> </h2>
        
       <p> <%= activity.description %> </p>

        <p><% if (activity.booked) { %>
        This activity is booked.
        <% } else { %>
    This activity is not booked.
            <% } %>
        </p>
    </div>
    </body>
</html>