<!DOCTYPE html>
<html lang="en">
    
    <!-- THE HEAD TAG PARTIAL -->
    <%- include("partials/head") %>

    <body>
        <!-- THE HEADER TAG PARTIAL -->
        <!-- <%- include("partials/header") %> -->
        <%- include("partials/header") %>
        <main class="page-container" style="background-color: #f3f1e4;">

<div class="content-wrap">

            
            <section class="hero is-large">
                <div class="hero-body">
                  <div class="">
                  
                    <p class="title" style="color: red;">
                        Your free digital travel itinerary!
                    </p>
                    <p class="subtitle">
                        To start, <a href="#">sign up</a>.
                    </p>
                  </div>
                </div>
              </section>

            </div>

        </main>
        <!-- THE FOOTER TAG PARTIAL -->
        <%- include("partials/footer") %>
    </body>
</html>